html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header h1 {
  font-size: x-large;
  color: #0066CC;
}

.reader-container {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.reader {
  flex: 1 0 auto;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}

.compare-action {
  position: absolute;
  top: 0;
  left: 500px;
  cursor: pointer;
  margin-right: auto;
  min-width: 100px;
  text-align: left;
  padding: 5px;
}

.compare-action img {
  width: 1.5em;
  height: 1.5em;
  vertical-align: top;
  margin-right: 5px;
  filter: invert(34%) sepia(9%) saturate(4362%) hue-rotate(303deg) brightness(95%) contrast(94%);
}

.compare-action p {
  opacity: 0;
  max-width: 0;
  transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  margin-top: 2px;
  color: #B23E50;
}

.compare-action:hover p {
  opacity: 1;
  max-width: 150px;
}

footer {
  margin: 20px 0;
}

footer small {
  font-size: x-small;
}

.file-selector {
  margin: 10px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.file-selector input[type="file"] {
  display: none;
}

.part {
    padding: 8px;
    margin: 15px;
    text-align: left;
    word-wrap: break-word;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    background-color: #cccccc3b;
}

.part img {
  width: 0.9em;
  height: 0.9em;
  vertical-align: middle;
  margin-right: 5px;
}
