html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  width: 80%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: x-large;
  color: #0066CC;
}

#reader {
  flex: 1 0 auto;
}

footer {
  margin: 20px;
  flex-shrink: 0;
}

footer small {
  font-size: x-small;
}

#file-selector {
  margin: 30px;
}

.part {
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  text-align: left;
}

.part img {
  width: 0.9em;
  height: 0.9em;
  vertical-align: middle;
  margin-right: 5px;
}
